<%= form_for [@car, @fine] do |f| %>
  <div class="form-group">
    <%= f.label :issued_on, 'Data de emissão' %>
    <%= f.text_field :issued_on, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :demerit_points, 'Quantidade de pontos' %>
    <%= f.text_field :demerit_points,class: 'form-control' %>
  </div>
  <div class="form-group">  
    <%= f.label :fine_value, 'Valor' %>
    <%= f.text_field :fine_value, class: 'form-control'%>
  </div>  
  <div class="form-group">
    <%= f.label :address, 'Endereço da ocorrência' %>
    <%= f.text_area :address, class: 'form-control' %>
  </div>  
  <%= f.submit 'Cadastrar Multa', class: 'btn btn-primary' %>
<% end %>