<%= form_for @customer do |f|%>
  <div class="form-group">
    <%= f.label :name, "Nome" %>
    <%= f.text_field :name, class:'form-control' %>
  </div>  
  <div class="form-group">
    <%= f.label :email, "Email"  %>
    <%= f.text_field :email, class:'form-control' %>
  </div> 
  <div class="form-group">
    <%= f.label :cpf, "CPF" %>
    <%= f.text_field :cpf, class:'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :phone, "Telefone" %>
    <%= f.text_field :phone, class:'form-control' %>
  </div>
  <%= f.submit "Cadastrar cliente", class: 'btn btn-primary' %>
<% end %>