<h1>Nova Locação</h1>
<%= form_for @rental do |f| %>
  <%= f.label :car_id, 'Carro' %>
  <%= f.collection_select(:car_id, @cars, :id, :name) %>
  <%= f.label :customer, 'Cliente' %>
  <%= f.text_field :customer %>
  <%= f.submit 'Enviar' %>
<% end %>