<% if @rental.errors.any? %>
  <% @rental.errors.full_messages.each do |error|%>
    <%= error %>
  <% end %>
<% end%>

<h1>Nova Locação</h1>
<%= form_for @rental do |f| %>
  <%= f.label :car_id, 'Carro' %>
  <%= f.collection_select(:car_id, @cars, :id, :car_identification) %>
  <%= f.label :customer_id, 'Cliente' %>
  <%= f.collection_select(:customer_id, @customers, :id, :cpf_name) %>
  <%= f.submit 'Enviar' %>
<% end %>