<h1>Detalhes do Veículo</h1>
<dl>
  <strong><dt>Modelo do Veículo</dt></strong>
  <dd><%= car.car_model.name %></dd>
  <strong><dt>Placa</dt></strong>
  <dd><%= car.license_plate %></dd>
  <strong><dt>Ano</dt></strong>
  <dd><%= car.car_model.year%></dd>
  <strong><dt>Cor</dt></strong>
  <dd><%= car.color %>
  </dd><strong><dt>Informaçōes complementares sobre o veículo</dt></strong>
  <dd><%= car.car_model.car_options %></dd>
</dl>