<%= notice %>

<dl class="row">
  <dt class="col-sm-3">Modelo</dt>
  <dd class="col-sm-9"><%= @car.car_model.name %></dd>

  <dt class="col-sm-3">Quilometragem:</dt>
  <dd class="col-sm-9"><%= @car.car_km.to_s %></dd>

  <dt class="col-sm-3">Cor</dt>
  <dd class="col-sm-9"><%= @car.color %></dd>
  
  <dt class="col-sm-3">Placa</dt>
  <dd class="col-sm-9"><%= @car.license_plate %></dd>

  <dt class="col-sm-3">Status</dt>
  <dd class="col-sm-9"><%= @car.status %></dd>
</dl>

<% if @car.on_maintenance? %>
  <h3>Status: Em manutenção</h3>
<% else%>
  <%= link_to "Enviar para manutenção", new_car_maintenance_path(@car) %>
<% end %>

<% @car.rentals.each do |rental| %>
  <%= rental.start_at %>
  <% if rental.finish_at? %>
    <%= rental.finish_at %>
  <% else %>
    <%= link_to "Devolução de carro", new_car_return_rental_path(rental) %>
  <% end %>
<% end %>